<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Breast Cancer Prediction</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="POST">
            <input class="form-input" type="number" name="a" placeholder="a"><br>
            <input class="form-input" type="number" name="b" placeholder="a"><br>
            <input class="form-input" type="number" name="c" placeholder="a"><br>
            <input class="form-input" type="number" name="d" placeholder="a"><br>
            <input class="form-input" type="number" name="e" placeholder="a"><br>
            <input class="form-input" type="number" name="f" placeholder="a"><br>
            <input class="form-input" type="number" name="g" placeholder="a"><br>
            <input class="form-input" type="number" name="h" placeholder="a"><br>
            <input class="form-input" type="number" name="i" placeholder="a"><br>
            <input class="form-input" type="number" name="j" placeholder="a"><br>
            <input class="form-input" type="number" name="k" placeholder="a"><br>
            <input class="form-input" type="number" name="l" placeholder="a"><br>
            <input class="form-input" type="number" name="m" placeholder="a"><br>



        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>
    <br>
     <br>
   {{ pred }}

 </div>

{{ pred }}
</body>
</html>
